
#about {
    
    padding: 50px;
    text-align: justify;
    max-width: 50rem;
    min-height: calc(100vh - 4rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .abouth1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgb(238, 235, 235);
  }
  
  .aboutpara {
    font-size: 18px;
    line-height: 1.5;
    color: #929090;
    letter-spacing: 1px;
  }
  
  
  @media screen and (max-width: 768px) {
    #about {
      padding: 30px;
    }
  
    .abouth1 {
      font-size: 28px;
    }
  
    .aboutpara {
      font-size: 16px;
    }
  }
  